* {
  margin: 0;
  padding: 0;
}

nav h1 {
  background-color: #4aaaa5;
  display: inline-block;
  padding: 20px;
  margin-left: 20px;
  color: white;
}

nav li a {
  text-decoration: none;
  color: #777777;
}

.sep {
  border-right: solid 1px #777777;
  padding-right: 10px;
}

.navigation {
  float: right;
  margin-top: 15px;
}

nav ul {
  margin-right: 10%;
  padding-top: 20px;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
  color: #777777;
}

.main {
  width: 960px;
  margin: 25px;
}

h2 {
  color: #4aaaa5;
  margin-bottom: 15px;
}

 .hr {
  margin-bottom: 15px;
  width: 90%;
  color: #444;
}

.img {
  float: left;
  margin-right: 15px;
}

p {
  color: #777777;
  margin-right: 10%;
}

footer {
  text-align: center;
  background-color: #666666;
  color: white;
  border-top: 10px solid #4aaaa5;
  padding: 25px 0 10px 0;
  font-size: .85em;
}
