* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.logo {
  flex: flex-start;
}

h1 {
  background-color: #4aaaa5;
  padding: 20px;
  color: white;
}

.menu {
  display: flex;
  flex: flex-end;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: grey;
}

.about,
.contact {
  padding-right: 20px;
  border-right: .3px solid grey;
}

.contact,
.portfolio {
  padding-left: 20px;
}

body {
  height: 1000px;
  background-image: url("../images/qbkls.png");
}

footer {
  position: relative;
  bottom: 0;
  padding: 20px;
  background-color: grey;
  color: white;
  text-align: center;
}
